@font-face {
    font-family: domaine;
    src: url(/src/assets/font/Domaine\ Sans\ Fine\ Regular\ Regular.woff);
}
.credit{
    position: relative;
    font-family: domaine;
    font-size: 1.5em;
    color: #555555 !important;
    left: 10%;
}
.link-ig{
    position: relative;
    font-family: domaine;
    font-size: 1.5em;
    color: whitesmoke;
    right: 10%;
}
.link-ig a{
    font-family: Arial, Helvetica, sans-serif;
}